<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Soft Masr - Project">
        <meta name="author" content="Ahmed ElShahat">
        <title>Soft Masr</title>

        <!-- FontAwesome -->
        <link href="<?php echo $GLOBALS['assetsadmin'];?>css/font-awesome.min.css" rel="stylesheet">

        <!-- Bootstrap -->
        <link href="<?php echo $GLOBALS['assetsadmin'];?>css/bootstrap.min.css" rel="stylesheet">

        <!-- Style -->
        <link href="<?php echo $GLOBALS['assetsadmin'];?>css/style.css" rel="stylesheet">
    </head>
    <body class="admin-panel">
        <div class="admin-panel__sidebar">
            <h2>Admin Panel</h2>
            <div class="welcome">
                <p>Welcome ( <strong>Ahmed ElShahat</strong> )</p>
            </div>

            <div class="home">
                <a href="index.html" class="btn"><i class="fa fa-home"></i> Admin Home</a>
            </div>

            <div class="panel-group" id="admincontrols" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#admincontrols" href="#products" aria-expanded="true"><i class="fa fa-shopping-cart"></i> Products</a>
                        </h4>
                    </div>
                    <div id="products" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul>
                                <li><a href="add-product.html">Add Product</a></li>
                                <li><a href="all-products.html">All Products</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#admincontrols" href="#users" aria-expanded="false"><i class="fa fa-user"></i> Users</a>
                        </h4>
                    </div>
                    <div id="users" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul>
                                <li><a href="add-user.html">Add User</a></li>
                                <li><a href="all-users.html">All Users</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#admincontrols" href="#guestbook" aria-expanded="false"><i class="fa fa-comments"></i> Guest Book</a>
                        </h4>
                    </div>
                    <div id="guestbook" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <ul>
                                <li><a href="all-messages.html">All Messages</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="logout">
                    <a href="logout.html" class="btn btn-danger"><i class="fa fa-sign-out"></i> Logout</a>
                </div>
            </div>
        </div>
        <div class="admin-panel__content">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h1>Add Product</h1>
                    </div>
                    <?php if(isset($msgsuc)){?>
                    <div class="alert alert-success">
                        <p>Product added successfully...</p>
                    </div>
                    <?php }?>
                </div>
                <div class="col-md-8">
                    <form class="form-horizontal"  action="<?php echo $_SERVER['PHP_SELF'];?>" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="product-title" class="col-sm-3 control-label">Product Title</label>
                            <div class="col-sm-9">
                                <input type="text" name="title" class="form-control" id="product-title" placeholder="Product Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="product-desc" class="col-sm-3 control-label">Product Description</label>
                            <div class="col-sm-9">
                                <textarea rows="6" name="description" class="form-control" id="product-desc" placeholder="Product Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="product-price" class="col-sm-3 control-label">Product Price</label>
                            <div class="col-sm-9">
                                <input type="text" name="price" class="form-control" id="product-price" placeholder="Product Price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="product-availability" class="col-sm-3 control-label">Product Availability</label>
                            <div class="col-sm-9">
                                <select name="available" class="form-control" id="product-availability">
                                    <option value="available" selected="selected" value="1">Available</option>
                                    <option value="not-available"value="0">Not Available</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="product-image" class="col-sm-3 control-label">Product Image</label>
                            <div class="col-sm-9">
                                <input type="file" name="image" class="form-control" id="product-image">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" name="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add Product</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="<?php echo $GLOBALS['assetsadmin'];?>js/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="<?php echo $GLOBALS['assetsadmin'];?>js/bootstrap.min.js"></script>
    </body>
</html>