
        <div class="admin-panel__content">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h1>All Messages</h1>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-hover table-bordered table-content">
                        <thead>
                            <tr>
                                <th width="150px">Message Title</th>
                                <th>Message Content</th>
                                <th width="150px">Writer Name</th>
                                <th>Writer Email</th>
                                <th width="150px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Homero option aperiam eam ex</td>
                                <td>Homero option aperiam eam ex, mentitum delicata et has. Has nulla facilis et, cu mei fuisset periculis. Ea deserunt gloriatur conceptam mea. Feugait fastidii recteque qui cu.</td>
                                <td>Ahmed ElShahat</td>
                                <td>ahmed@elshahat.com</td>
                                <td>
                                    <a href="#" class="btn btn-success">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Homero option aperiam eam ex</td>
                                <td>Homero option aperiam eam ex, mentitum delicata et has. Has nulla facilis et, cu mei fuisset periculis. Ea deserunt gloriatur conceptam mea. Feugait fastidii recteque qui cu.</td>
                                <td>Ahmed ElShahat</td>
                                <td>ahmed@elshahat.com</td>
                                <td>
                                    <a href="#" class="btn btn-success">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Homero option aperiam eam ex</td>
                                <td>Homero option aperiam eam ex, mentitum delicata et has. Has nulla facilis et, cu mei fuisset periculis. Ea deserunt gloriatur conceptam mea. Feugait fastidii recteque qui cu.</td>
                                <td>Ahmed ElShahat</td>
                                <td>ahmed@elshahat.com</td>
                                <td>
                                    <a href="#" class="btn btn-success">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Homero option aperiam eam ex</td>
                                <td>Homero option aperiam eam ex, mentitum delicata et has. Has nulla facilis et, cu mei fuisset periculis. Ea deserunt gloriatur conceptam mea. Feugait fastidii recteque qui cu.</td>
                                <td>Ahmed ElShahat</td>
                                <td>ahmed@elshahat.com</td>
                                <td>
                                    <a href="#" class="btn btn-success">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Homero option aperiam eam ex</td>
                                <td>Homero option aperiam eam ex, mentitum delicata et has. Has nulla facilis et, cu mei fuisset periculis. Ea deserunt gloriatur conceptam mea. Feugait fastidii recteque qui cu.</td>
                                <td>Ahmed ElShahat</td>
                                <td>ahmed@elshahat.com</td>
                                <td>
                                    <a href="#" class="btn btn-success">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Homero option aperiam eam ex</td>
                                <td>Homero option aperiam eam ex, mentitum delicata et has. Has nulla facilis et, cu mei fuisset periculis. Ea deserunt gloriatur conceptam mea. Feugait fastidii recteque qui cu.</td>
                                <td>Ahmed ElShahat</td>
                                <td>ahmed@elshahat.com</td>
                                <td>
                                    <a href="#" class="btn btn-success">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
