<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div class="copyrights">
                        <span>Coded by </span><a href="http://www.arabtouch.com.eg">Arab Touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="<?php echo $GLOBALS['assetsroot']; ?>js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="<?php echo $GLOBALS['assetsroot']; ?>js/bootstrap.min.js"></script>
</body>
</html>