 <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-header">
                            <h1>Product Info</h1>
                        </div>
                    </div>
                </div>
                <div class="row product-info">
                    <div class="col-md-8">
                        <div class="product-info__title">
                            <h2><?php echo $res[0]['title'];?></h2>
                        </div>
                        <div class="product-info__price">
                            <strong>Product Price:</strong> <span><?php echo $res[0]['price'];?><sup>EGP</sup></span>
                        </div>
                        <div class="product-info__available">
                            <strong>Product Availability:</strong> <span><?php echo $avaliable; ?></span>
                        </div>
                        <div class="product-info__desc">
                            <h2></h2>
                            <p><?php echo $res[0]['description'];?></p>
                        </div>
                        <br />
                        <a href="#" class="btn btn-lg btn-danger"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                    </div>
                    <div class="col-md-4">
                        <div class="product-info__image">
                            <img src="<?php echo$GLOBALS['imgsource'].$res[0]['image'];?>" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
