<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Soft Masr - Project">
        <meta name="author" content="Ahmed ElShahat">
        <title>Soft Masr</title>

        <!-- FontAwesome -->
        <link href="assets/css/font-awesome.min.css" rel="stylesheet">

        <!-- Bootstrap -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">

        <!-- Style -->
        <link href="assets/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="index.html"><img src="assets/images/logo-dark.png" class="img-responsive" alt=""></a>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
                                    <li class="active"><a href="products.html">Products</a></li>
                                    <li><a href="guestbook.html">Guest Book</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-header">
                            <h1>Product Info</h1>
                        </div>
                    </div>
                </div>
                <div class="row product-info">
                    <div class="col-md-8">
                        <div class="product-info__title">
                            <h2>Product Title Here...</h2>
                        </div>
                        <div class="product-info__price">
                            <strong>Product Price:</strong> <span>150<sup>EGP</sup></span>
                        </div>
                        <div class="product-info__available">
                            <strong>Product Availability:</strong> <span>Available</span>
                        </div>
                        <div class="product-info__desc">
                            <h2>Product Description:</h2>
                            <p>Lorem ipsum dolor sit amet, ex blandit luptatum eos, duo nobis nonumes mediocritatem cu. Ut summo eligendi nec, vitae prompta theophrastus ad has. Recteque cotidieque duo ex. Mel at sale essent, euripidis evertitur argumentum his ex. Et vidit percipit mel. Meliore assentior ne eos, usu stet tincidunt adversarium id, et prima porro nam. Harum apeirian eu mel, eos etiam saperet docendi cu.</p>
                            <p>Ut mel copiosae sententiae. Ius mutat ipsum commodo ne, movet nostrud molestie est ne, ei ridens officiis voluptaria usu. Idque numquam principes in vix, ex consulatu instructior eos. Eu has tota inimicus, ocurreret consetetur in pri, in per porro deleniti accusata.</p>
                            <p>Homero option aperiam eam ex, mentitum delicata et has. Has nulla facilis et, cu mei fuisset periculis. Ea deserunt gloriatur conceptam mea. Feugait fastidii recteque qui cu.</p>
                        </div>
                        <br />
                        <a href="#" class="btn btn-lg btn-danger"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                    </div>
                    <div class="col-md-4">
                        <div class="product-info__image">
                            <img src="assets/images/abstract-q-c-380-380-10.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <div class="copyrights">
                                <span>Coded by </span><a href="http://www.arabtouch.com.eg">Arab Touch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="assets/js/bootstrap.min.js"></script>
    </body>
</html>